# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Dependency directories
client/node_modules/
server/node_modules/

# dotenv environment variable files
client/.env
server/.env
.env.development
.env.production
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
client/.next
client/out

